@model MenuVM
@{
	ViewData["Title"] = "Menu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-section mt-80 mb-100">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>

						@foreach(var item in Model.Categories){
							<li data-filter=".@item.Name.Replace(" ", "-")">@item.Name</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div id="menu">

		</div>
		
	</div>
</div>
<!-- end products -->

 @section menuPage{
	
<script>
	function loadMenuPage(pageNumber=1){
		$.ajax({
			url:'/Home/Menu',
            type:'GET',
			data:{page:pageNumber},
			success:function (view){
				$('#menu').html(view);
			}
		    
		
		});
	}

	$(document).ready(function(){
		loadMenuPage();



		$(document).on('click','.page-link-ajax',function(e){
			e.preventDefault();
			const page=$(this).data('page');
			loadMenuPage(page);
		});
	});







</script>
}