@model CreateMenuItemVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pcoded-inner-content" pt-0>
	<div class="main-body">
		<div class="page-wrapper">
			<div class="page-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-sm-6 col-md-4 col-lg-4">
										<h4 class="sub-title">MenuItem</h4>
										<form asp-action="Create" enctype="multipart/form-data">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="form-group">
												<label asp-for="Name"></label>
												<input class="form-control" asp-for="Name" placeholder="Name Of Product" />
												<span asp-validation-for="Name" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label asp-for="Description"></label>
												<textarea multiple class="form-control" asp-for="Description" placeholder="Description Of Item"></textarea>
												<span asp-validation-for="Description" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label asp-for="Price"></label>
												<input class="form-control" asp-for="Price" />
												<span asp-validation-for="Price" class="text-danger"></span>

											</div>
											<div class="form-group">
												<label asp-for="Image"></label>
												<input class="form-control" asp-for="Image" onchange="ImagePreview(event);" />
												<span asp-validation-for="Image" class="text-danger"></span>

											</div>
											<div class="form-group">
												<label class="col-form-label">Category</label>
												<select class="form-control" asp-items="@Model.Categories" asp-for="CategoryId">
													<option selected disabled>-------Select Category---------</option>
												</select>
												<span asp-validation-for="Categories" class="text-danger"></span>

											</div>
											<div class="pb-3">
												<input type="submit" value="Add" class="btn btn-primary" />
												<a asp-action="Index" class="btn btn-light">Back To List</a><br />
											</div>

										</form>
										<div id="ImagePreview">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	function ImagePreview(event) {
		var image = URL.createObjectURL(event.target.files[0]);
		var imagediv = document.getElementById('ImagePreview');
		var newimage = document.createElement('img');
		imagediv.innerHTML = '';
		newimage.src = image;
		newimage.width = 200;
		newimage.height = 200;
		imagediv.appendChild(newimage);
	}
</script>
