@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@{
	var user=User.FindFirstValue(ClaimTypes.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>@ViewData["Title"]</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->

	<link rel="stylesheet" href="~/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/assets/css/main.css">

	<!-- responsive -->
	<link rel="stylesheet" href="~/assets/css/responsive.css">
	<link rel="stylesheet" href="~/styles.css">


	<link rel="stylesheet" href="~/templete/css/style.css">
	<link rel="stylesheet" href="~/css/site.css">


	<style>
		.step-nav .nav-link.active {
		background-color: #c74c1f;
		color: #fff !important;
		}
		.step-nav .nav-link {
		border-radius: 0;
		color: #444;
		font-weight: 600;
		}
		.order-summary {
		background-color: #f8f9fa;
		border-radius: 8px;
		padding: 20px;
		}
		.btn-orange {
		background-color: #c74c1f;
		color: white;
		}
		.btn-orange:hover {
		background-color: #a63d15;
		color: white;
		}

		/* يخلي الكروت بنفس الارتفاع */
		.offer-card {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		/* يخلي الصورة ثابتة الارتفاع وتقص الحواف الزايدة */
		.offer-card img {
			/* height: 90px; / */* تقدر تغيرها حسب التصميم */
			object-fit: cover; /* دي أهم حاجة عشان الصورة تتظبط */
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
		}

		/* يخلي البودي ياخد المساحة الباقية */
		.offer-card .card-body {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	</style>
</head>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="~/assets/img/logofoodia3.png" alt="">
							</a>
						</div>
						<!-- logo -->
						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a asp-action="Index" asp-controller="Home">Home</a></li>
								<li><a asp-action="AllMenu" asp-controller="Home">Menu</a></li>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="news.html">News</a>
									
								</li>
								<li><a asp-action="Contact">Contact</a></li>
								<li>
									<a href="shop.html">Orders</a>
								</li>


								<li>
									<div class="header-icons">

										<a asp-action="Index" asp-controller="Cart" class="shopping-cart">
											<i class="fa fa-shopping-cart fa-lg"></i>
											<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger  text-white " id="cartcount">
												0
											</span>
										</a>
										@if (user == null)
										{
											<a asp-action="Login" asp-controller="Account" class="mobile-hide rounded-pill d-inline-flex align-items-center justify-content-center px-4 py-1 ml-1" style="background-color:orangered;border:none;">Login</a>
										}
										else{
											<a asp-action="SignOut" asp-controller="Account" class="mobile-hide rounded-pill d-inline-flex align-items-center justify-content-center px-4 py-1 ml-1" style="background-color:orangered;border:none;">Logout</a>

										}

								 </div> 
							</li> 
							</ul>
						</nav>
					<a class="mobile-show search-bar-icon" href="#"></a>
						<div class="mobile-menu"></div> 
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- end header -->

	<!-- hero area -->
	@if (ViewData["Title"].ToString() == "Index")
	{
		<div class="hero-area hero-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 offset-lg-2 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Taste & Enjoy</p>
								<h1>Your Daily Does of Deliciousness</h1>
								<div class="hero-btns">
									<a href="#menu" class="boxed-btn">Order Now</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else{

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh taste every time</p>
							<h1>@ViewData["Title"]</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
@* 	<div class="container">*@
		<main role="main" class="pb-3">
			@RenderBody()
		</main>

     </div>
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<!-- end copyright -->
	<!-- jquery -->
	<script src="~/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoint~/s -->
	<script src="~/assets/js/waypoints.js"></script>
	<!-- owl caro~/usel -->
	<script src="~/assets/js/owl.carousel.min.js"></script>
	<!-- magnific~/ popup -->
	<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean men~/u -->
	<script src="~/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker ~/js -->
	<script src="~/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/assets/js/main.js"></script>
	<script src="main.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
		$(document).ready(function(){
			$.get('/Cart/GetCartCount',function(data){
				$('#cartcount').text(data.count)
			});
		});
		function addtocart(itemid)
		{
			$.post('/Cart/AddToCart',{id:itemid},function(data){
				if(data.success){
					$('#cartcount').text(data.count)
				}
			});
		}
	</script>


	@await RenderSectionAsync("menuPage",false)

</body>

</html>

